.bo {
  border: 1px solid black;
  border-radius: 3%;
  margin-top: 15vh;
}
.exred {
  background: rgba(255, 0, 0, 0.5);
}

.exgreen {
  background: rgba(0, 255, 0, 0.5);
}
input{
  background-color: rgba(0, 0, 0, 0.685);
  color: white;
}

input:focus-within{
  background-color: rgba(0, 0, 0, 0.685);
  color: white;
}
textarea{
  background-color: rgba(0, 0, 0, 0.685);
  color: white;
}
textarea:focus-within{
  background-color: rgba(0, 0, 0, 0.685);
  color: white;
}
mat-form-field{
  background-color: rgba(0, 0, 0, 0.37);
  color: white;
}
mat-label{
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
mat-select{
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
mat-option{
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
}
