.brd {
  border: 1px solid rgb(255, 230, 0);
  border-radius: 50%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color:yellow;
}
.bo {
  border: 1px solid rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.356);
  border-radius: 30%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 4%;
  color:yellow;
}
input{
  background-color: rgba(0, 0, 0, 0.685);
  color: white;
}

input:focus-within{
  background-color: rgba(0, 0, 0, 0.685);
  color: white;
}
textarea{
  background-color: rgba(0, 0, 0, 0.685);
}
textarea:focus-within{
  background-color: rgba(0, 0, 0, 0.685);
  color: white;
}
.bb{
  margin-left: 15%;

}
