<div class="container mt-5 bo ">
  <div class="row">
    <div class="col-md-12 text-center text-black mt-5">
      <h1>{{myPoint.point}}</h1>
      <h1>{{myPoint.Name}}</h1>
    <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center text-info">
      <h2 class="text-white">{{myPoint.mainMrd}}</h2>
    <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center text-info " style="margin-left: auto;margin-right: auto;">
      <a >
      <img src="{{myPoint.imgUrl}}" alt="{{myPoint.imgUrl}}" width="100%" ></a>
    </div>

    <div class="col-md-12 text-center text-black" >
      <div class="border des">
        <h3 class="text-white des">תאור</h3>
        <hr>
       <h3 class="text-white des">{{myPoint.description}}</h3>
       <div class="border mt-3">
        <h4 class="bg-success text-white tit"> מיקום</h4>
        <h4 class="text-white">{{myPoint.location}}</h4>
       </div>
       <div class="border mt-3">
        <h4 class="bg-success text-white tit">מרידאן משני</h4>
        <h4 class="text-white">{{myPoint.secMrd}}</h4>
      </div>
      </div>





    </div>
  </div>
  <div class="row">


  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-md-2">
      <div class="border mt-4 text-center">
        <h4 class="bg-success text-white tit">1 שיטה</h4>
        <h4 class="text-white">{{myPoint.mirror1}}</h4>
      </div>
    </div>
    <div class="col-md-2">
      <div class="border mt-4 text-center">
        <h4 class="bg-success text-white tit">2 שיטה</h4>
        <h4 class="text-white">{{myPoint.mirror2}}</h4>
      </div>
    </div>
    <div class="col-md-2">
      <div class="border mt-4 text-center">
        <h4 class="bg-success text-white tit">3 שיטה</h4>
        <h4 class="text-white">{{myPoint.mirror3}}</h4>
      </div>
    </div>
    <div class="col-md-2">
      <div class="border mt-4 text-center">
        <h4 class="bg-success text-white tit">4 שיטה</h4>
        <h4 class="text-white">{{myPoint.mirror4}}</h4>
      </div>
    </div>
    <div class="col-md-2">
      <div class="border mt-4 text-center">
        <h4 class="bg-success text-white tit">5 שיטה</h4>
        <h4 class="text-white">{{myPoint.mirror5}}</h4>
      </div>
    </div>
  </div>
  <hr>
<h1 class="text-center bg-danger text-white tit">מטפל בסימפטומים</h1>
<div class="row text-right">

  <div  class="col-md-4">
  <h3 class="text-white">{{myPoint.headList}}</h3>
 </div>

 <div class="col-md-4">
  <h3 class="text-white">{{myPoint.neckList}}</h3>
</div>
<div class="col-md-4">
  <h3 class="text-white">{{myPoint.armsList}}</h3>
</div>
</div>

<div class="row text-right">

  <div class="col-md-4">
    <h3 class="text-white">{{myPoint.bodyList}}</h3>
  </div>
  <div class="col-md-4">
    <h3 class="text-white">{{myPoint.backList}}</h3>
  </div>
</div>

<div class="row text-right">
  <div class="col-md-4">
    <h3 class="text-white">{{myPoint.globalList}}</h3>
  </div>
  <div class="col-md-4">
    <h3 class="text-white">{{myPoint.internalList}}</h3>
  </div>
  <div class="col-md-4">
    <h3 class="text-white">{{myPoint.sexsualList}}</h3>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3 class="text-white">{{myPoint.spiritList}}</h3>
    </div>
    <div class="col-md-4">
      <h3 class="text-white">{{myPoint.legsList}}</h3>
    </div>
  </div>

</div>


</div>

