<div class=" mt-5 bo " >
  <div class="row">
    <div class="col-12 text-center text-info">
      <h3>{{cusObj.lastName}} - {{cusObj.firstName}}</h3>
    <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12 text-center text-white bg-success" style="font-size: 30px;">
פרטים אישיים
    </div>
  </div>
  <hr>


  <div class="row ">
    <div class="col-2"></div>
    <div class="col-8 text-center p-3">
      <h5 class="h5 text-right text-white">{{cusObj.email}} :דוא"ל</h5>
    <hr>
    </div>
  </div>

  <div class="row ">
    <div class="col-2"></div>
    <div class="col-8 text-center p-3">
      <h5 class="h5 text-right text-white">{{cusObj.phone}} :טלפון</h5>
    <hr>
    </div>
  </div>

  <div class="row ">
    <div class="col-2"></div>
    <div class="col-8 text-center text-white border p-2"><h4 class="text-right"><span>רחוב</span> :{{cusObj.street}}  </h4></div>
  </div>
  <div class="row ">
    <div class="col-2"></div>
    <div class="col-8 text-center text-white  border p-2"><h4 class="text-right"> <span>עיר</span>: {{cusObj.city}}</h4></div>
  </div>
    <div class="row ">
    <div class="col-2"></div>
    <div class="col-8 text-center text-white  border p-2"><h4 class="text-right">  <span>הערות</span>: {{cusObj.notes}} </h4></div>
  </div>

//


  <hr>


  <!-- <div class="row bg-light">
    <div class="col-12 text-center"><img src="{{initObj.imgUrl}}" alt="{{initObj.EnName}}}" width="100px"></div>
  </div> -->

</div>
