.data-table {
  width: 80%;
  margin: 20px auto;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.178);
  color: white;
font-size: 20px;
}
mat-icon{
  padding: 0%;
}

ttx{
  font-size: 20px;
}
mat-paginator{
  font-size: 26px;
  background-color: rgba(255, 250, 176, 0.356);
}
