<style>
  @import url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');
  </style>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');
    </style>
<nav *ngIf="isLogin" class="navbar navbar-expand-lg navbar-dark fixed-top shadow-sm" style="background-color: rgba(0, 0, 0, 0.856);">
  <div class="container-fluid">


  <a href="#" class="navbar-brand text-white m-0" style="font-size: 40px;">
   <i class="fab fa-airbnb ml-3 mr-3" style="font-size: 40px;"></i>
  </a>
  <button id="myB" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarExampleDefault"
    aria-controls="navbarExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon bg-dark"></span>
  </button>
  <div class="text-white" style="margin-left: 0%;font-size: 70px;font-family:'Estonia', cursive;">Projex</div>
  <div class="collapse navbar-collapse" style="margin-left: 5%;" id="navbarExampleDefault">
    <ul class="navbar-nav m-auto " >

      <li class="nav-item mr-4 h4" id="myB">
        <a class="nav-link text-right"  routerLink="/patient" routerLinkActive="active">
          <i class="fas fa-user float-left"></i>
          <span class="ml-3 ">מטופלים</span>
        </a>
      </li>

      <li class="nav-item mr-4 h4" id="myB">
        <a class="nav-link text-right" routerLink="/oils"  routerLinkActive="active">
          <i class="fab fa-cotton-bureau float-left"></i>
          <span class="ml-3">שמנים</span>
        </a>
      </li>
      <li class="nav-item mr-4 h4" id="myB">
        <a class="nav-link  text-right" routerLink="/points"  routerLinkActive="active" >
          <i class="fab fa-codiepie float-left"></i>
          <span class="ml-3">נקודות דיקור</span>
        </a>
      </li>
      <li class="nav-item mr-4 h4" id="myB">
        <a class="nav-link text-right" routerLink="/medical"  routerLinkActive="active">
          <i class="fas fa-file-medical float-left"></i>
          <span class="ml-3">טיפולים</span>
        </a>
      </li>

<hr>
      <li class="nav-item dropdown ">
        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdown01"
          class="nav-link dropdown-toggle text-white" style="font-size: 20px;">
           {{role ? 'Admin':'User'}}
        </a>
        <div class="dropdown-menu dropdown-menu-right exp" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="/preferences" routerLinkActive="true">
            <i class="fas fa-cog "></i>
            אפשרויות
          </a>
          <a class="dropdown-item " (click)="onExit()">
            <i class="fas fa-sign-out-alt"></i>
            <!-- <i class="fas fa-cog"></i> -->
            יציאה
          </a>
        </div>

      </li>
    </ul>

  </div>
</div>

</nav>
<div class="container-fluid" style="margin-top: 5%;">
  <!-- <mat-sidenav-container>
    <mat-sidenav [(opened)]="opend">
      (c) Copyright by Haim Ben Simon 2021


    </mat-sidenav>
    <mat-sidenav-content><button class="btn btn-primary" (click)="opend=!opend">About</button></mat-sidenav-content>
    </mat-sidenav-container> -->
<br>
<br>



  <router-outlet></router-outlet>

</div>
